In [3]:
import pandas as pd
import numpy as np
import glob

data_root = "../datasets/surveys/2016/"
normal_data = "*.csv"
FILENAMES = glob.glob(data_root + normal_data)

In [4]:
"""
Get unique column names.
I only ran this once and made the new_names dictionary below from the result
"""

unique_cols = set()

for file in FILENAMES:
    df = pd.read_csv(file)
    unique_cols.update(df.columns)
    
unique_cols

{'#',
 'How likely is it that you would recommend the Make School Summer Academy to a friend?',
 'How well are the tutorials paced?',
 'How well is the schedule paced?',
 'How would you rate your overall satisfaction with the Summer Academy this week?',
 'Network ID',
 'Start Date (UTC)',
 'Submit Date (UTC)',
 'Timestamp',
 'Unnamed: 0',
 'What track are you in?',
 'location',
 'track'}

In [5]:
"""
dictionary of possible names and what we want to rename them to
I only rename the ones I want to keep
"""

new_names = {
    'How well are the tutorials paced?': 'pacing',
    'How likely is it that you would recommend the Make School Summer Academy to a friend?': 'satisfaction',
    'How well are the tutorials paced?': 'pacing',
    'How well is the schedule paced?':'pacing',
    'How would you rate your overall satisfaction with the Summer Academy this week?': 'satisfaction',
    'What track are you in?':'track',
    'Timestamp':'timestamp',
    'Unnamed: 0': 'timestamp',
    'Week':'week',
    'Location': 'location'}

In [6]:
import re

# TODO: DRYify
def extract_week(filename):
    """takes a list of filenames and returns a list of weeks
        example file:
            '../datasets/surveys/2016/Anon_Week_6_Feedback_-_SG.csv'
            should return: '6'
    """
    try:
        result = re.search(r'Week_+(\d)', filename).group(1)
        return result
    except AttributeError:
        return np.NaN

def extract_location(filename):
    """takes a list of filenames and returns a list of locations
        example file:
            '../datasets/surveys/2016/Anon_Week_6_Feedback_-_SG.csv'
            should return: 'SG'
    """
    try:
        result = re.search(r'([A-Za-z])+\.csv', filename).group(0)
        return result[:-4]
    except AttributeError:
        return np.NaN

In [7]:
def normalize_columns(df, cols_list):
    """takes a dataframe: drops columns it doesn't need and adds new NaN filled ones.
    Arguments:
        1. df: the dataframe to normalize
        2. cols_list: list of columns the df should have by the end
    Steps:
        1. removes unnecessary columns:
        2. adds necessary columns filled with NaN
    """
    
    # remove unnecessary columns
    for col in df.columns:
        # drop the column if it wasn't renamed
        if col not in new_names.values():
            df.drop(columns=col, inplace=True)
            
    # add nonexistent columns 
    for col in cols_list:
        if col not in df.columns:
            df[col] = np.NaN
    return df

In [8]:
def SA_normalize(file, new_names):
    """takes: a filename from the summer academy dataset,
    returns a normalized dataframe"""
    # create a dataframe from the csv
    df = pd.read_csv(file)
    
    # get week and location from filename
    week = extract_week(file)
    location = extract_location(file)
    df['location'] = location
    df['week'] = week

    # rename cols
    df.rename(columns=new_names, inplace=True)

    # normalize it
    cols = ['week', 'location', 'pacing', 'track', 'timestamp']
    df = normalize_columns(df, cols)
    
    return df

In [9]:
"""goes through each file, creates a normalized dataframe, and then concats this list into one big df"""

dfs = list()
df = None # temporary
for file in FILENAMES:
    # create a dataframe from the csv
    df = SA_normalize(file, new_names)
    dfs.append(df)
    
cleaned = pd.concat(dfs, sort=False)

# normalize the timestamp to a pandas Timestamp object
cleaned['timestamp'] = pd.to_datetime(cleaned.timestamp)

df = cleaned[cleaned["track"] != "Average:"]
df

             timestamp  track satisfaction pacing location week
0  2016-07-22 12:52:43   Apps            4      3       SV    5
1  2016-07-22 12:53:47   Apps            5      3       SV    5
2  2016-07-23 14:14:16   Apps            3      3       SV    5
3  2016-07-22 14:37:17   Apps            2      3       SV    5
4  2016-07-22 12:49:36  Games            4      3       SV    5
5  2016-07-22 12:50:23  Games            4      3       SV    5
6  2016-07-22 12:53:36   Apps            5      3       SV    5
7  2016-07-22 13:11:42   Apps            3      3       SV    5
8  2016-07-22 14:03:30   Apps            5      3       SV    5
9  2016-07-22 14:25:23   Apps            4      4       SV    5
10 2016-07-22 14:54:14   Apps            4      3       SV    5
11 2016-07-22 14:26:04   Apps            5      3       SV    5
12 2016-07-22 12:45:30  Intro            4      4       SV    5
13 2016-07-22 14:25:54   Apps            5      3       SV    5
14 2016-07-22 12:47:59   Apps            4      5       SV    5
15 2016-07-22 16:21:04   Apps            2      2       SV    5
16 2016-07-22 14:25:46   Apps            4      3       SV    5
17 2016-07-22 15:53:14   Apps            5      4       SV    5
18 2016-07-22 18:00:51   Apps            3      4       SV    5
19 2016-07-22 12:51:51   Apps            4      4       SV    5
20 2016-07-22 14:26:06   Apps            4      3       SV    5
21 2016-07-22 14:27:03   Apps            4      3       SV    5
22 2016-07-22 14:28:15   Apps            3      4       SV    5
23 2016-07-22 12:43:02  Games            5      3       SV    5
24 2016-07-22 12:46:29  Games            5      3       SV    5
25 2016-07-22 12:50:31  Games            4      5       SV    5
26 2016-07-22 14:26:59  Games            4      3       SV    5
27 2016-07-22 14:27:45  Intro            4      3       SV    5
28 2016-07-22 12:45:12  Intro            4      3       SV    5
29 2016-07-22 13:00:34  Intro            5      3       SV    5
..                 ...    ...          ...    ...      ...  ...
5  2016-08-01 09:40:14  Intro            5      3       LA    6
6  2016-08-01 10:03:22  Games            5      3       LA    6
7  2016-08-01 10:04:06  Games            4      3       LA    6
8  2016-08-01 10:06:45  Intro            4      4       LA    6
9  2016-08-01 11:22:56  Games            4      4       LA    6
0  2016-07-29 15:17:19   Apps            4      3       SF    6
1  2016-07-29 16:21:52   Apps            3      4       SF    6
2  2016-07-29 16:22:54   Apps            2      3       SF    6
3  2016-07-29 16:54:46   Apps            4      3       SF    6
4  2016-07-29 22:40:39   Apps            3      4       SF    6
5  2016-07-31 23:10:54   Apps            5      3       SF    6
6  2016-07-30 11:06:02   Apps            1      3       SF    6
7  2016-07-29 15:23:30   Apps            3      3       SF    6
8  2016-07-29 15:29:56   Apps            5      3       SF    6
9  2016-07-29 15:34:35   Apps            4      3       SF    6
10 2016-07-29 15:25:23   Apps            5      3       SF    6
11 2016-07-29 15:17:52  Games            5      3       SF    6
12 2016-07-29 15:14:11  Games            5      3       SF    6
13 2016-07-29 15:13:01  Games            4      3       SF    6
14 2016-07-29 17:07:36  Games            5      4       SF    6
15 2016-07-29 15:50:15  Games            5      4       SF    6
16 2016-07-29 15:36:20  Games            3      4       SF    6
17 2016-07-29 18:46:09  Intro            5      3       SF    6
18 2016-07-29 16:09:44  Intro            5      3       SF    6
19 2016-07-29 15:00:35  Intro            3      4       SF    6
20 2016-07-29 15:02:01  Intro            5      3       SF    6
21 2016-07-29 15:09:17  Intro            5      3       SF    6
22 2016-07-30 09:00:15     VR            4      3       SF    6
23 2016-07-29 21:45:54     VR            4      4       SF    6
24 2016-07-30 13:09:48     VR            4      3       SF    6

[991 rows x 6 columns]

In [10]:
df.to_csv("2016.csv")