In [255]:
import pandas as pd
import numpy as np
import glob

data_root = "../datasets/surveys/2016/"
normal_data = "*.csv"
FILENAMES = glob.glob(data_root + normal_data)

In [256]:
"""
Get unique column names.
I only ran this once and made the new_names dictionary below from the result
"""

unique_cols = set()

for file in FILENAMES:
    df = pd.read_csv(file)
    unique_cols.update(df.columns)
    
unique_cols

{'#',
 'How likely is it that you would recommend the Make School Summer Academy to a friend?',
 'How well are the tutorials paced?',
 'How well is the schedule paced?',
 'How would you rate your overall satisfaction with the Summer Academy this week?',
 'Network ID',
 'Start Date (UTC)',
 'Submit Date (UTC)',
 'Timestamp',
 'Unnamed: 0',
 'What track are you in?',
 'location',
 'track'}

In [257]:
"""
dictionary of possible names and what we want to rename them to
I only rename the ones I want to keep
"""

new_names = {
    'How well are the tutorials paced?': 'pacing',
    'How likely is it that you would recommend the Make School Summer Academy to a friend?': 'satisfaction',
    'How well are the tutorials paced?': 'pacing',
    'How well is the schedule paced?':'pacing',
    'How would you rate your overall satisfaction with the Summer Academy this week?': 'satisfaction',
    'What track are you in?':'track',
    'Timestamp':'timestamp',
    'Unnamed: 0': 'timestamp',
    'Week':'week',
    'Location': 'location'}

In [258]:
import re

# TODO: DRYify
def extract_week(filename):
    """takes a list of filenames and returns a list of weeks
        example file:
            '../datasets/surveys/2016/Anon_Week_6_Feedback_-_SG.csv'
            should return: '6'
    """
    try:
        result = re.search(r'Week_+(\d)', filename).group(1)
        return result
    except AttributeError:
        return np.NaN

def extract_location(filename):
    """takes a list of filenames and returns a list of locations
        example file:
            '../datasets/surveys/2016/Anon_Week_6_Feedback_-_SG.csv'
            should return: 'SG'
    """
    try:
        result = re.search(r'([A-Za-z])+\.csv', filename).group(0)
        return result[:-4]
    except AttributeError:
        return np.NaN

In [259]:
def normalize_columns(df, cols_list):
    """takes a dataframe: drops columns it doesn't need and adds new NaN filled ones.
    Arguments:
        1. df: the dataframe to normalize
        2. cols_list: list of columns the df should have by the end
    Steps:
        1. removes unnecessary columns:
        2. adds necessary columns filled with NaN
    """
    
    # remove unnecessary columns
    for col in df.columns:
        # drop the column if it wasn't renamed
        if col not in new_names.values():
            df.drop(columns=col, inplace=True)
            
    # add nonexistent columns 
    for col in cols_list:
        if col not in df.columns:
            df[col] = np.NaN
    return df

In [260]:
def SA_normalize(file, new_names):
    """takes: a filename from the summer academy dataset,
    returns a normalized dataframe"""
    # create a dataframe from the csv
    df = pd.read_csv(file)
    
    # get week and location from filename
    week = extract_week(file)
    location = extract_location(file)
    df['location'] = location
    df['week'] = week

    # rename cols
    df.rename(columns=new_names, inplace=True)

    # normalize it
    cols = ['week', 'location', 'pacing', 'track', 'timestamp']
    df = normalize_columns(df, cols)
    
    return df

In [261]:
"""goes through each file, creates a normalized dataframe, and then concats this list into one big df"""

dfs = list()
df = None # temporary
for file in FILENAMES:
    # create a dataframe from the csv
    df = SA_normalize(file, new_names)
    dfs.append(df)
    
cleaned = pd.concat(dfs, sort=False)

# normalize the timestamp to a pandas Timestamp object
cleaned['timestamp'] = pd.to_datetime(cleaned.timestamp)

df = cleaned[cleaned["track"] != "Average:"]
df

,timestamp,track,satisfaction,pacing,location,week
0,2016-07-22 12:52:43,Apps,4,3,SV,5
1,2016-07-22 12:53:47,Apps,5,3,SV,5
2,2016-07-23 14:14:16,Apps,3,3,SV,5
3,2016-07-22 14:37:17,Apps,2,3,SV,5
4,2016-07-22 12:49:36,Games,4,3,SV,5
5,2016-07-22 12:50:23,Games,4,3,SV,5
6,2016-07-22 12:53:36,Apps,5,3,SV,5
7,2016-07-22 13:11:42,Apps,3,3,SV,5
8,2016-07-22 14:03:30,Apps,5,3,SV,5
9,2016-07-22 14:25:23,Apps,4,4,SV,5
10,2016-07-22 14:54:14,Apps,4,3,SV,5
11,2016-07-22 14:26:04,Apps,5,3,SV,5
12,2016-07-22 12:45:30,Intro,4,4,SV,5
13,2016-07-22 14:25:54,Apps,5,3,SV,5
14,2016-07-22 12:47:59,Apps,4,5,SV,5
15,2016-07-22 16:21:04,Apps,2,2,SV,5
16,2016-07-22 14:25:46,Apps,4,3,SV,5
17,2016-07-22 15:53:14,Apps,5,4,SV,5
18,2016-07-22 18:00:51,Apps,3,4,SV,5
19,2016-07-22 12:51:51,Apps,4,4,SV,5
20,2016-07-22 14:26:06,Apps,4,3,SV,5
21,2016-07-22 14:27:03,Apps,4,3,SV,5
22,2016-07-22 14:28:15,Apps,3,4,SV,5
23,2016-07-22 12:43:02,Games,5,3,SV,5
24,2016-07-22 12:46:29,Games,5,3,SV,5
25,2016-07-22 12:50:31,Games,4,5,SV,5
26,2016-07-22 14:26:59,Games,4,3,SV,5
27,2016-07-22 14:27:45,Intro,4,3,SV,5
28,2016-07-22 12:45:12,Intro,4,3,SV,5
29,2016-07-22 13:00:34,Intro,5,3,SV,5
30,2016-07-22 14:40:12,Intro,4,3,SV,5
31,2016-07-22 12:44:15,Intro,4,3,SV,5
32,2016-07-22 12:45:16,Intro,5,3,SV,5
33,2016-07-22 12:49:41,Intro,4,4,SV,5
34,2016-07-22 12:52:37,Intro,4,2,SV,5
35,2016-07-22 12:52:51,Intro,5,3,SV,5
36,2016-07-22 15:24:21,Games,3,5,SV,5
37,2016-07-22 15:54:08,Games,5,2,SV,5
38,2016-07-22 15:24:25,Games,3,3,SV,5
39,2016-07-22 12:45:22,Games,5,3,SV,5
40,2016-07-22 14:04:51,Games,5,3,SV,5
0,2016-07-08 10:31:27,NaN,4,2,LA,3
1,2016-07-08 13:45:52,NaN,4,4,LA,3
2,2016-07-08 13:47:42,NaN,4,3,LA,3
3,2016-07-08 13:47:59,NaN,4,3,LA,3
4,2016-07-08 14:12:24,NaN,4,3,LA,3
5,2016-07-08 14:13:39,NaN,5,4,LA,3
0,2016-07-01 16:35:14,Apps,2,3,SF,2
1,2016-07-01 16:10:55,Apps,3,2,SF,2
2,2016-07-01 17:00:26,Apps,3,3,SF,2
3,2016-07-03 14:53:37,Apps,3,3,SF,2
4,2016-07-01 15:35:19,Apps,4,2,SF,2
5,2016-07-01 15:51:23,Apps,4,2,SF,2
6,2016-07-01 16:07:02,Apps,4,5,SF,2
7,2016-07-01 16:07:26,Apps,4,3,SF,2
8,2016-07-01 16:08:19,Apps,4,4,SF,2
9,2016-07-01 16:12:30,Apps,4,4,SF,2
10,2016-07-01 16:19:32,Apps,4,3,SF,2
11,2016-07-01 16:21:07,Apps,4,5,SF,2
12,2016-07-01 16:41:10,Apps,4,3,SF,2
13,2016-07-01 17:06:05,Apps,4,3,SF,2
14,2016-07-01 17:18:27,Apps,4,3,SF,2
15,2016-07-01 19:06:08,Apps,4,2,SF,2
16,2016-07-02 00:32:56,Apps,4,3,SF,2
17,2016-07-01 16:05:40,Apps,5,3,SF,2
18,2016-07-01 16:07:13,Apps,5,2,SF,2
19,2016-07-01 16:07:24,Apps,5,3,SF,2
20,2016-07-01 16:07:58,Apps,5,3,SF,2
21,2016-07-01 16:07:58,Apps,5,4,SF,2
22,2016-07-01 16:08:49,Apps,5,3,SF,2
23,2016-07-01 16:10:20,Apps,5,3,SF,2
24,2016-07-01 16:10:46,Apps,5,2,SF,2
25,2016-07-01 16:12:17,Apps,5,3,SF,2
26,2016-07-01 16:19:33,Apps,5,4,SF,2
27,2016-07-01 16:22:03,Apps,5,3,SF,2
28,2016-07-01 16:10:34,Games,4,4,SF,2
29,2016-07-01 16:23:13,Games,4,5,SF,2
30,2016-07-01 16:07:04,Games,5,3,SF,2
31,2016-07-01 16:15:04,Games,5,3,SF,2
32,2016-07-01 16:15:41,Games,5,3,SF,2
33,2016-07-01 16:16:13,Games,5,3,SF,2
34,2016-07-01 16:17:34,Games,5,3,SF,2
35,2016-07-01 16:18:02,Games,5,3,SF,2
36,2016-07-01 16:18:02,Games,5,3,SF,2
37,2016-07-01 15:40:51,Intro,3,3,SF,2
38,2016-07-01 15:38:22,Intro,4,2,SF,2
39,2016-07-01 15:40:24,Intro,4,3,SF,2
40,2016-07-01 15:40:28,Intro,4,3,SF,2
41,2016-07-01 15:42:15,Intro,4,3,SF,2
42,2016-07-01 15:49:06,Intro,4,4,SF,2
43,2016-07-01 15:50:59,Intro,4,4,SF,2
44,2016-07-01 16:20:36,Intro,4,4,SF,2
45,2016-07-01 17:13:25,Intro,4,4,SF,2
46,2016-07-05 09:48:32,Intro,4,3,SF,2
47,2016-07-05 16:07:37,Intro,4,4,SF,2
48,2016-07-05 16:10:40,Intro,4,3,SF,2
49,2016-07-05 16:11:11,Intro,4,3,SF,2
50,2016-07-01 16:24:01,Intro,5,4,SF,2
51,2016-07-04 18:31:39,Intro,5,3,SF,2
52,2016-07-05 09:39:22,Intro,5,3,SF,2
53,2016-07-05 10:15:27,Intro,5,3,SF,2
54,2016-07-05 16:09:01,Intro,5,3,SF,2
55,2016-07-02 12:45:15,VR,1,3,SF,2
56,2016-07-02 12:49:55,VR,2,3,SF,2
57,2016-07-05 12:00:21,VR,2,3,SF,2
58,2016-07-01 15:35:33,VR,5,3,SF,2
59,2016-07-02 21:55:49,VR,5,3,SF,2
60,2016-07-05 11:30:35,VR,5,3,SF,2
61,2016-07-05 18:24:11,VR,5,3,SF,2
0,2016-07-31 01:04:57,NaN,3,4,Tokyo,6
1,2016-07-31 03:38:14,NaN,4,3,Tokyo,6
2,2016-07-31 03:59:43,NaN,4,1,Tokyo,6
3,2016-07-31 04:19:51,NaN,4,2,Tokyo,6
4,2016-07-31 05:14:20,NaN,5,4,Tokyo,6
5,2016-07-31 06:50:12,NaN,3,3,Tokyo,6
6,2016-07-31 15:23:52,NaN,5,5,Tokyo,6
7,2016-07-31 16:49:45,NaN,4,2,Tokyo,6
8,2016-08-01 01:18:47,NaN,3,4,Tokyo,6
9,2016-08-01 01:30:17,NaN,5,3,Tokyo,6
10,2016-08-01 01:30:17,NaN,5,3,Tokyo,6
11,2016-08-01 06:15:10,NaN,4,4,Tokyo,6
12,2016-08-01 07:56:08,NaN,4,3,Tokyo,6
0,2016-07-08 06:21:11,Apps,4,3,NY,3
1,2016-07-08 06:21:29,Apps,5,3,NY,3
2,2016-07-08 06:21:35,Intro,4,3,NY,3
3,2016-07-08 06:21:46,Apps,5,3,NY,3
4,2016-07-08 06:22:10,Apps,4,2,NY,3
5,2016-07-08 06:22:35,Games,4,4,NY,3
6,2016-07-08 06:22:50,Intro,4,4,NY,3
7,2016-07-08 06:23:09,Apps,5,3,NY,3
8,2016-07-08 06:23:28,Games,4,4,NY,3
9,2016-07-08 06:23:49,Intro,4,4,NY,3
10,2016-07-08 06:23:50,Games,4,4,NY,3
11,2016-07-08 06:24:25,Apps,4,4,NY,3
12,2016-07-08 06:26:03,Apps,4,3,NY,3
13,2016-07-08 06:26:30,Games,4,3,NY,3
14,2016-07-08 06:26:40,Apps,5,4,NY,3
15,2016-07-08 06:26:49,Apps,4,3,NY,3
16,2016-07-08 06:27:01,Games,4,4,NY,3
17,2016-07-08 06:27:14,Games,5,4,NY,3
18,2016-07-08 06:27:31,Intro,4,4,NY,3
19,2016-07-08 06:27:49,Apps,4,4,NY,3
20,2016-07-08 06:28:49,Games,5,3,NY,3
21,2016-07-08 06:28:56,Intro,3,4,NY,3
22,2016-07-08 06:29:05,Apps,5,3,NY,3
23,2016-07-08 06:33:10,Apps,5,3,NY,3
24,2016-07-08 06:36:23,Intro,4,4,NY,3
25,2016-07-08 06:36:36,Games,5,3,NY,3
26,2016-07-08 06:38:24,Games,5,3,NY,3
27,2016-07-08 12:14:54,Apps,4,3,NY,3
0,2016-07-08 15:56:20,Apps,3,2,SF,3
1,2016-07-08 16:02:55,Apps,5,3,SF,3
2,2016-07-08 16:19:51,Apps,3,3,SF,3
3,2016-07-08 16:34:12,Apps,1,3,SF,3
4,2016-07-08 16:39:27,Apps,5,2,SF,3
5,2016-07-08 16:46:21,Apps,5,5,SF,3
6,2016-07-08 17:33:28,Apps,3,5,SF,3
7,2016-07-09 14:23:38,Apps,5,3,SF,3
8,2016-07-10 20:55:08,Apps,5,3,SF,3
9,2016-07-08 15:58:04,Games,5,3,SF,3
10,2016-07-08 16:08:03,Games,5,4,SF,3
11,2016-07-08 15:55:12,Intro,5,3,SF,3
12,2016-07-08 15:56:10,Intro,4,3,SF,3
13,2016-07-08 15:58:45,Intro,4,3,SF,3
14,2016-07-08 16:40:17,Intro,4,4,SF,3
15,2016-07-08 18:34:39,Intro,5,3,SF,3
16,2016-07-09 08:14:45,Intro,5,3,SF,3
17,2016-07-08 16:23:15,VR,5,3,SF,3
18,2016-07-08 16:27:30,VR,4,4,SF,3
19,2016-07-08 17:18:49,VR,1,5,SF,3
20,2016-07-08 19:14:34,VR,4,4,SF,3
21,2016-07-11 12:10:26,Intro,3,4,SF,3
22,2016-07-11 12:39:56,Intro,4,4,SF,3
0,2016-07-15 13:20:35,NaN,5,3,LA,4
1,2016-07-15 13:22:22,NaN,5,3,LA,4
2,2016-07-15 14:35:15,NaN,5,3,LA,4
3,2016-07-15 15:05:10,NaN,5,4,LA,4
4,2016-07-15 15:12:36,NaN,3,3,LA,4
5,2016-07-15 16:59:37,NaN,4,3,LA,4
6,2016-07-15 17:10:52,NaN,4,3,LA,4
7,2016-07-15 19:32:26,NaN,4,3,LA,4
0,2016-07-29 01:07:23,NaN,5,3,Taipei,6
1,2016-07-29 01:08:46,NaN,5,4,Taipei,6
2,2016-07-29 01:11:16,NaN,5,3,Taipei,6
3,2016-07-29 01:13:23,NaN,5,3,Taipei,6
4,2016-07-29 01:13:56,NaN,4,3,Taipei,6
5,2016-07-29 01:17:27,NaN,4,3,Taipei,6
6,2016-07-29 01:22:25,NaN,3,4,Taipei,6
7,2016-07-29 01:27:55,NaN,3,3,Taipei,6
8,2016-07-29 01:28:54,NaN,5,2,Taipei,6
9,2016-07-29 01:29:23,NaN,4,4,Taipei,6
10,2016-07-29 01:46:49,NaN,5,4,Taipei,6
11,2016-07-29 21:20:05,NaN,5,3,Taipei,6
0,2016-07-01 05:41:15,NaN,4,3,SG,2
1,2016-07-01 08:52:52,NaN,3,3,SG,2
2,2016-07-02 07:49:54,NaN,3,5,SG,2
3,2016-07-03 19:14:57,NaN,3,3,SG,2
4,2016-07-03 19:21:48,NaN,4,4,SG,2
5,2016-07-03 19:27:27,NaN,4,3,SG,2
6,2016-07-03 20:00:26,NaN,3,3,SG,2
7,2016-07-04 03:03:20,NaN,3,3,SG,2
0,2016-08-05 13:37:43,Apps,3,3,SV,7
1,2016-08-05 13:37:50,Apps,5,3,SV,7
2,2016-08-05 13:39:25,Apps,3,3,SV,7
3,2016-08-05 13:39:27,Apps,4,3,SV,7
4,2016-08-05 13:41:05,Apps,4,3,SV,7
5,2016-08-05 13:43:54,Apps,4,3,SV,7
6,2016-08-05 13:34:26,Apps,3,3,SV,7
7,2016-08-05 13:35:21,Apps,3,3,SV,7
8,2016-08-05 13:35:36,Apps,5,3,SV,7
9,2016-08-05 13:36:39,Apps,4,4,SV,7
10,2016-08-05 13:39:14,Apps,4,3,SV,7
11,2016-08-05 13:36:43,Apps,4,3,SV,7
12,2016-08-05 13:49:53,Apps,4,3,SV,7
13,2016-08-05 13:34:54,Apps,5,3,SV,7
14,2016-08-05 13:38:26,Apps,4,3,SV,7
15,2016-08-05 13:51:09,Apps,3,1,SV,7
16,2016-08-05 13:52:31,Apps,5,2,SV,7
17,2016-08-05 13:35:43,Apps,5,3,SV,7
18,2016-08-05 13:38:05,Apps,3,3,SV,7
19,2016-08-05 13:35:03,Apps,4,3,SV,7
20,2016-08-05 13:36:44,Apps,2,3,SV,7
21,2016-08-05 13:38:33,Apps,3,3,SV,7
22,2016-08-05 13:40:07,Apps,3,4,SV,7
23,2016-08-05 13:34:18,Apps,5,5,SV,7
24,2016-08-05 13:34:53,Games,5,4,SV,7
25,2016-08-05 13:38:00,Games,3,3,SV,7
26,2016-08-05 13:51:41,Games,5,3,SV,7
27,2016-08-05 13:34:04,Games,5,4,SV,7
28,2016-08-05 13:32:40,Games,5,5,SV,7
29,2016-08-05 15:07:12,Games,4,3,SV,7
30,2016-08-05 13:36:23,Games,4,3,SV,7
31,2016-08-05 13:51:20,Games,5,3,SV,7
32,2016-08-05 13:39:45,Games,4,4,SV,7
33,2016-08-05 14:44:00,Games,5,3,SV,7
34,2016-08-05 14:03:39,Games,3,3,SV,7
35,2016-08-05 13:47:15,Intro,4,4,SV,7
36,2016-08-05 13:45:29,Intro,4,3,SV,7
37,2016-08-05 13:49:31,Intro,5,3,SV,7
38,2016-08-05 13:47:02,Intro,5,3,SV,7
39,2016-08-05 13:48:45,Intro,5,3,SV,7
40,2016-08-05 13:44:33,Intro,5,3,SV,7
41,2016-08-05 13:43:43,Intro,5,4,SV,7
42,2016-08-05 13:44:24,Intro,4,4,SV,7
43,2016-08-05 13:43:17,Intro,4,3,SV,7
44,2016-08-05 13:51:18,Intro,5,3,SV,7
45,2016-08-05 13:43:35,Intro,4,2,SV,7
46,2016-08-07 17:45:06,Apps,3,3,SV,7
0,2016-08-05 11:13:01,Apps,5,5,SF,7
1,2016-08-05 11:17:11,Apps,3,3,SF,7
2,2016-08-05 11:17:52,Apps,5,3,SF,7
3,2016-08-05 11:18:01,Apps,5,4,SF,7
4,2016-08-05 11:20:15,Apps,4,3,SF,7
5,2016-08-05 11:21:10,Apps,5,3,SF,7
6,2016-08-05 12:11:04,Apps,5,3,SF,7
7,2016-08-05 19:14:21,Apps,4,4,SF,7
8,2016-08-05 11:39:18,Games,5,3,SF,7
9,2016-08-05 12:27:18,Games,5,4,SF,7
10,2016-08-05 11:20:43,Intro,4,3,SF,7
11,2016-08-05 11:38:52,Intro,4,4,SF,7
12,2016-08-05 11:56:23,Intro,5,3,SF,7
13,2016-08-05 12:35:08,Intro,5,3,SF,7
14,2016-08-07 10:45:47,Intro,4,5,SF,7
15,2016-08-05 11:21:38,VR,5,3,SF,7
16,2016-08-08 08:35:18,VR,1,3,SF,7
17,2016-08-08 08:39:01,VR,3,5,SF,7
18,2016-08-08 09:41:39,VR,2,2,SF,7
0,2016-08-05 01:39:41,NaN,3,3,Taipei,7
1,2016-08-05 01:40:47,NaN,4,3,Taipei,7
2,2016-08-05 01:40:50,NaN,4,3,Taipei,7
3,2016-08-05 01:42:44,NaN,4,4,Taipei,7
4,2016-08-05 01:45:13,NaN,5,4,Taipei,7
5,2016-08-05 01:45:39,NaN,4,3,Taipei,7
6,2016-08-05 01:49:21,NaN,4,3,Taipei,7
7,2016-08-08 01:30:34,NaN,5,3,Taipei,7
8,2016-08-08 01:33:45,NaN,5,3,Taipei,7
9,2016-08-08 01:49:29,NaN,5,3,Taipei,7
10,2016-08-08 01:51:00,NaN,3,3,Taipei,7
0,2016-07-01 13:27:56,Apps,3,4,SV,2
1,2016-07-01 13:29:33,Apps,3,5,SV,2
2,2016-07-01 13:29:43,Apps,3,3,SV,2
3,2016-07-01 13:30:28,Apps,3,4,SV,2
4,2016-07-01 13:34:11,Apps,3,3,SV,2
5,2016-07-01 13:35:20,Apps,3,3,SV,2
6,2016-07-01 16:35:14,Apps,3,3,SV,2
7,2016-07-01 17:01:13,Apps,3,4,SV,2
8,2016-07-02 09:50:36,Apps,3,3,SV,2
9,2016-07-01 10:36:57,Games,3,3,SV,2
10,2016-07-01 10:41:44,Games,3,5,SV,2
11,2016-07-01 10:47:58,Games,3,3,SV,2
12,2016-07-01 10:56:51,Games,3,3,SV,2
13,2016-07-04 23:02:16,Intro,3,4,SV,2
14,2016-07-01 13:27:10,Apps,4,3,SV,2
15,2016-07-01 13:28:59,Apps,4,3,SV,2
16,2016-07-01 13:29:07,Apps,4,3,SV,2
17,2016-07-01 13:29:40,Apps,4,4,SV,2
18,2016-07-01 13:30:05,Apps,4,4,SV,2
19,2016-07-01 13:30:53,Apps,4,3,SV,2
20,2016-07-01 13:31:04,Apps,4,4,SV,2
21,2016-07-01 13:39:46,Apps,4,3,SV,2
22,2016-07-01 13:41:30,Apps,4,4,SV,2
23,2016-07-01 13:49:17,Apps,4,3,SV,2
24,2016-07-01 15:59:22,Apps,4,3,SV,2
25,2016-07-01 15:59:54,Apps,4,3,SV,2
26,2016-07-01 16:02:57,Apps,4,3,SV,2
27,2016-07-01 16:30:11,Apps,4,4,SV,2
28,2016-07-01 16:32:24,Apps,4,4,SV,2
29,2016-07-01 17:51:29,Apps,4,4,SV,2
30,2016-07-01 09:46:04,Games,4,4,SV,2
31,2016-07-01 09:47:30,Games,4,2,SV,2
32,2016-07-01 10:41:18,Games,4,3,SV,2
33,2016-07-01 10:41:34,Games,4,2,SV,2
34,2016-07-01 10:45:47,Games,4,3,SV,2
35,2016-07-01 13:12:22,Intro,4,3,SV,2
36,2016-07-01 13:19:07,Intro,4,3,SV,2
37,2016-07-01 13:25:54,Intro,4,3,SV,2
38,2016-07-01 13:28:33,Intro,4,4,SV,2
39,2016-07-01 13:29:01,Intro,4,4,SV,2
40,2016-07-01 13:33:15,Intro,4,3,SV,2
41,2016-07-01 13:33:28,Intro,4,3,SV,2
42,2016-07-01 13:29:47,Apps,5,3,SV,2
43,2016-07-01 13:30:07,Apps,5,3,SV,2
44,2016-07-01 13:32:18,Apps,5,4,SV,2
45,2016-07-01 16:01:17,Apps,5,3,SV,2
46,2016-07-01 16:02:10,Apps,5,4,SV,2
47,2016-07-01 16:04:18,Apps,5,3,SV,2
48,2016-07-01 16:44:38,Apps,5,3,SV,2
49,2016-07-01 09:41:30,Games,5,4,SV,2
50,2016-07-01 10:43:14,Games,5,2,SV,2
51,2016-07-01 10:47:06,Games,5,3,SV,2
52,2016-07-01 10:47:57,Games,5,4,SV,2
53,2016-07-01 13:25:32,Intro,5,2,SV,2
54,2016-07-01 13:26:00,Intro,5,5,SV,2
55,2016-07-01 13:28:10,Intro,5,2,SV,2
0,2016-07-29 19:18:44,NaN,4,3,SG,6
1,2016-07-29 23:12:48,NaN,5,5,SG,6
2,2016-07-30 05:46:01,NaN,5,3,SG,6
3,2016-07-30 07:02:47,NaN,4,3,SG,6
4,2016-07-31 07:40:14,NaN,3,5,SG,6
5,2016-07-31 08:34:29,NaN,5,3,SG,6
0,2016-07-01 06:41:31,Apps,3,2,NY,2
1,2016-07-01 09:27:32,Apps,3,4,NY,2
2,2016-07-01 06:46:34,Games,3,5,NY,2
3,2016-07-01 06:47:56,Games,3,3,NY,2
4,2016-07-01 06:33:45,Apps,4,3,NY,2
5,2016-07-01 06:35:15,Apps,4,4,NY,2
6,2016-07-01 06:36:41,Apps,4,3,NY,2
7,2016-07-01 06:41:43,Apps,4,3,NY,2
8,2016-07-01 07:00:39,Apps,4,2,NY,2
9,2016-07-01 08:58:54,Apps,4,4,NY,2
10,2016-07-01 10:32:25,Apps,4,3,NY,2
11,2016-07-01 06:30:49,Games,4,4,NY,2
12,2016-07-01 06:43:54,Games,4,4,NY,2
13,2016-07-01 07:02:22,Games,4,4,NY,2
14,2016-07-01 06:27:37,Intro,4,3,NY,2
15,2016-07-01 06:31:09,Intro,4,3,NY,2
16,2016-07-01 06:31:31,Intro,4,4,NY,2
17,2016-07-01 06:46:33,Intro,4,3,NY,2
18,2016-07-01 06:27:51,Apps,5,3,NY,2
19,2016-07-01 06:30:01,Apps,5,3,NY,2
20,2016-07-01 06:30:05,Apps,5,3,NY,2
21,2016-07-01 06:33:55,Apps,5,4,NY,2
22,2016-07-01 06:36:10,Apps,5,3,NY,2
23,2016-07-01 06:41:54,Apps,5,4,NY,2
24,2016-07-01 06:27:48,Games,5,4,NY,2
25,2016-07-01 06:31:02,Intro,5,3,NY,2
26,2016-07-01 06:31:12,Intro,5,3,NY,2
27,2016-07-01 06:36:15,Intro,5,3,NY,2
0,2016-08-05 12:34:16,Apps,3,3,NY,7
1,2016-08-05 12:35:50,Apps,5,3,NY,7
2,2016-08-05 12:36:31,Games,5,3,NY,7
3,2016-08-05 12:36:55,Games,4,3,NY,7
4,2016-08-05 12:37:12,Apps,4,3,NY,7
5,2016-08-05 12:37:15,Intro,4,4,NY,7
6,2016-08-05 12:39:02,Apps,5,3,NY,7
7,2016-08-05 12:39:13,Games,5,4,NY,7
8,2016-08-05 12:43:00,Games,4,3,NY,7
9,2016-08-05 12:43:35,Apps,4,3,NY,7
10,2016-08-05 12:45:05,Intro,5,3,NY,7
11,2016-08-05 12:45:58,Games,3,3,NY,7
12,2016-08-05 12:46:09,Games,5,4,NY,7
13,2016-08-05 13:04:11,Apps,4,3,NY,7
14,2016-08-05 13:13:02,Intro,4,3,NY,7
15,2016-08-05 13:37:41,Apps,4,3,NY,7
16,2016-08-05 13:39:55,Intro,5,4,NY,7
0,2016-07-22 13:29:33,Apps,5,5,NY,5
1,2016-07-22 13:35:20,Apps,5,3,NY,5
2,2016-07-22 13:36:39,Apps,4,3,NY,5
3,2016-07-22 13:37:15,Apps,4,3,NY,5
4,2016-07-22 13:40:21,Apps,5,3,NY,5
5,2016-07-22 13:44:52,Apps,4,4,NY,5
6,2016-07-22 13:50:50,Games,3,5,NY,5
7,2016-07-22 13:50:50,Apps,4,4,NY,5
8,2016-07-22 13:51:22,Apps,5,4,NY,5
9,2016-07-22 13:51:35,Games,4,3,NY,5
10,2016-07-22 13:51:36,Apps,4,3,NY,5
11,2016-07-22 13:51:44,Games,4,4,NY,5
12,2016-07-22 13:52:05,Intro,4,3,NY,5
13,2016-07-22 13:52:19,Apps,4,3,NY,5
14,2016-07-22 13:52:41,Games,5,3,NY,5
15,2016-07-22 13:53:19,Apps,4,3,NY,5
16,2016-07-22 13:53:31,Games,5,3,NY,5
17,2016-07-22 13:53:56,Apps,4,3,NY,5
18,2016-07-22 13:54:46,Games,5,3,NY,5
19,2016-07-22 13:54:52,Apps,5,3,NY,5
20,2016-07-22 13:57:13,Games,4,3,NY,5
0,2016-07-22 16:15:37,Games,3,2,LA,5
1,2016-07-22 16:16:07,Intro,4,3,LA,5
2,2016-07-22 16:16:20,Intro,5,3,LA,5
3,2016-07-22 16:17:04,Games,4,3,LA,5
4,2016-07-22 16:17:09,Intro,4,3,LA,5
5,2016-07-22 16:18:23,Games,4,3,LA,5
6,2016-07-22 16:18:45,Intro,5,3,LA,5
7,2016-07-22 16:19:58,Games,4,4,LA,5
8,2016-07-22 16:20:25,Games,5,4,LA,5
9,2016-07-22 16:20:30,Intro,5,3,LA,5
10,2016-07-22 16:23:12,Games,4,3,LA,5
11,2016-07-22 16:23:19,Games,4,3,LA,5
0,2016-07-08 12:52:08,Games,5,2,SV,3
1,2016-07-09 15:22:45,Apps,5,3,SV,3
2,2016-07-08 21:26:01,Games,4,3,SV,3
3,2016-07-08 13:52:01,Apps,4,3,SV,3
4,2016-07-08 14:00:28,Apps,4,4,SV,3
5,2016-07-08 14:42:40,Apps,5,3,SV,3
6,2016-07-08 14:03:46,Apps,4,4,SV,3
7,2016-07-08 16:40:10,Apps,3,4,SV,3
8,2016-07-08 13:58:12,Apps,4,4,SV,3
9,2016-07-08 13:53:19,Apps,3,4,SV,3
10,2016-07-08 15:59:30,Apps,3,2,SV,3
11,2016-07-08 16:11:32,Apps,5,4,SV,3
12,2016-07-08 12:49:05,Games,5,5,SV,3
13,2016-07-08 12:49:16,Games,4,3,SV,3
14,2016-07-08 12:47:42,Games,5,3,SV,3
15,2016-07-08 12:43:44,Intro,5,3,SV,3
16,2016-07-08 13:55:51,Apps,4,3,SV,3
17,2016-07-08 14:02:54,Games,5,3,SV,3
18,2016-07-08 14:29:22,Games,5,3,SV,3
19,2016-07-09 17:05:33,Games,5,2,SV,3
20,2016-07-08 16:55:21,Apps,3,3,SV,3
21,2016-07-08 16:08:13,Games,3,3,SV,3
22,2016-07-08 13:56:39,Apps,4,3,SV,3
23,2016-07-08 14:03:35,Apps,4,2,SV,3
24,2016-07-08 13:51:14,Games,4,5,SV,3
25,2016-07-08 12:41:10,Intro,4,4,SV,3
26,2016-07-08 12:41:13,Intro,4,4,SV,3
27,2016-07-08 12:41:51,Intro,4,3,SV,3
28,2016-07-08 12:43:35,Intro,4,3,SV,3
29,2016-07-08 12:45:11,Intro,4,3,SV,3
30,2016-07-08 12:47:39,Intro,4,3,SV,3
31,2016-07-08 13:01:58,Intro,4,4,SV,3
32,2016-07-10 23:44:41,Games,4,4,SV,3
34,2016-07-08 16:41:06,Apps,5,3,SV,3
35,2016-07-08 13:07:39,Games,5,3,SV,3
36,2016-07-08 12:45:02,Intro,5,3,SV,3
0,2016-07-15 13:30:19,Apps,2,1,SV,4
1,2016-07-15 13:31:54,Apps,3,3,SV,4
2,2016-07-15 13:35:36,Apps,4,4,SV,4
3,2016-07-15 13:58:34,Apps,4,3,SV,4
4,2016-07-15 14:01:42,Apps,5,3,SV,4
5,2016-07-15 14:09:14,Apps,4,3,SV,4
6,2016-07-15 14:10:40,Apps,4,3,SV,4
7,2016-07-15 14:15:40,Apps,4,3,SV,4
8,2016-07-15 14:26:18,Apps,4,2,SV,4
9,2016-07-15 15:54:39,Apps,4,4,SV,4
10,2016-07-15 15:54:51,Apps,3,3,SV,4
11,2016-07-15 15:55:54,Apps,4,4,SV,4
12,2016-07-15 15:55:56,Apps,5,3,SV,4
13,2016-07-15 15:56:10,Apps,4,3,SV,4
14,2016-07-15 15:56:18,Apps,5,3,SV,4
15,2016-07-15 15:57:37,Apps,3,4,SV,4
16,2016-07-15 15:57:50,Apps,4,3,SV,4
17,2016-07-15 15:58:36,Apps,4,4,SV,4
18,2016-07-15 15:58:47,Apps,4,4,SV,4
19,2016-07-15 16:03:01,Apps,4,4,SV,4
20,2016-07-15 16:06:23,Apps,5,3,SV,4
21,2016-07-15 16:21:10,Apps,5,4,SV,4
22,2016-07-15 16:23:07,Apps,5,3,SV,4
23,2016-07-15 16:55:20,Apps,4,4,SV,4
24,2016-07-15 17:11:41,Apps,5,1,SV,4
25,2016-07-17 09:52:10,Apps,5,3,SV,4
26,2016-07-18 10:35:56,Apps,4,3,SV,4
27,2016-07-15 13:56:01,Games,5,2,SV,4
28,2016-07-15 13:56:03,Games,5,3,SV,4
29,2016-07-15 13:58:40,Games,4,3,SV,4
30,2016-07-15 14:00:09,Games,4,4,SV,4
31,2016-07-15 14:00:41,Games,4,4,SV,4
32,2016-07-15 15:51:03,Games,5,5,SV,4
33,2016-07-15 15:57:04,Games,5,3,SV,4
34,2016-07-15 15:58:21,Games,3,3,SV,4
35,2016-07-15 14:03:03,Intro,5,4,SV,4
0,2016-07-29 00:19:08,NaN,5,3,HK,6
1,2016-07-29 00:22:41,NaN,4,3,HK,6
2,2016-07-29 00:23:17,NaN,5,3,HK,6
0,2016-06-24 14:02:56,Apps,3,2,SF,1
1,2016-06-23 14:48:47,Apps,3,3,SF,1
2,2016-06-24 09:50:50,Apps,3,4,SF,1
3,2016-06-24 13:21:09,Apps,3,5,SF,1
4,2016-06-23 13:21:46,Apps,4,2,SF,1
5,2016-06-24 13:58:52,Apps,4,2,SF,1
6,2016-06-24 14:12:41,Apps,4,2,SF,1
7,2016-06-23 13:19:38,Apps,4,3,SF,1
8,2016-06-24 09:49:30,Apps,4,3,SF,1
9,2016-06-24 09:53:41,Apps,4,3,SF,1
10,2016-06-24 09:54:45,Apps,4,3,SF,1
11,2016-06-24 11:37:05,Apps,4,3,SF,1
12,2016-06-24 11:40:59,Apps,4,3,SF,1
13,2016-06-24 11:46:04,Apps,4,3,SF,1
14,2016-06-24 13:07:03,Apps,4,3,SF,1
15,2016-06-24 13:11:15,Apps,4,3,SF,1
16,2016-06-24 13:20:57,Apps,4,3,SF,1
17,2016-06-24 13:27:16,Apps,4,3,SF,1
18,2016-06-24 13:33:49,Apps,4,3,SF,1
19,2016-06-24 13:37:25,Apps,4,3,SF,1
20,2016-06-24 13:38:57,Apps,4,3,SF,1
21,2016-06-23 16:11:39,Apps,4,4,SF,1
22,2016-06-24 09:51:03,Apps,4,4,SF,1
23,2016-06-24 13:58:11,Apps,4,4,SF,1
24,2016-06-24 14:07:33,Apps,4,4,SF,1
25,2016-06-24 15:34:30,Apps,4,4,SF,1
26,2016-06-24 13:16:51,Apps,4,5,SF,1
27,2016-06-24 14:05:35,Apps,4,5,SF,1
28,2016-06-25 20:09:34,Apps,4,2,SF,1
29,2016-06-24 13:32:30,Apps,5,2,SF,1
30,2016-06-24 14:05:44,Apps,5,2,SF,1
31,2016-06-23 13:17:43,Apps,5,3,SF,1
32,2016-06-23 14:44:06,Apps,5,3,SF,1
33,2016-06-24 09:49:15,Apps,5,3,SF,1
34,2016-06-24 09:49:18,Apps,5,3,SF,1
35,2016-06-24 09:50:06,Apps,5,3,SF,1
36,2016-06-24 09:50:19,Apps,5,3,SF,1
37,2016-06-24 11:34:57,Apps,5,3,SF,1
38,2016-06-24 13:05:10,Apps,5,3,SF,1
39,2016-06-24 13:07:59,Apps,5,3,SF,1
40,2016-06-24 13:09:46,Apps,5,3,SF,1
41,2016-06-24 13:18:32,Apps,5,3,SF,1
42,2016-06-24 13:27:04,Apps,5,3,SF,1
43,2016-06-24 13:27:52,Apps,5,3,SF,1
44,2016-06-24 13:38:21,Apps,5,3,SF,1