In [7]:
import pandas as pd

adf = pd.DataFrame(data={'x1': ['A', 'B', 'C'], 'x2' : [1, 2, 3]})
bdf = pd.DataFrame(data={'x1': ['A', 'B', 'D'], 'x3' : ['T', 'F', 'T']})

In [8]:
adf

  x1  x2
0  A   1
1  B   2
2  C   3

# np.nan == SATAN

In [9]:
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [10]:
# why NaN instead of None?
pd.merge(adf, bdf, how='left')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [3]:
pd.merge(adf, bdf, how='right')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [11]:
data = {'weekday': ["Monday", "Tuesday", "Wednesday", 
         "Thursday", "Friday", "Saturday", "Sunday"],
        'Person 1': [12, 6, 5, 8, 11, 6, 4],
        'Person 2': [10, 6, 11, 5, 8, 9, 12],
        'Person 3': [8, 5, 7, 3, 7, 11, 15]}
df = pd.DataFrame(data, columns=['weekday',
        'Person 1', 'Person 2', 'Person 3'])